<a href="https://colab.research.google.com/github/4hmetcakmak/PythonDataScienceHandbook/blob/master/Cev3_Hafta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #nüfus ve alan serileri üzerinden df oluşturma
cities_population=pd.Series([4425789,3147818,15840900,5747325,602567], index=["İzmir", "Bursa","İstanbul", "Ankara", "Tokat"])
print(cities_population)
area=pd.Series([11891,10813,5461,25632,10042], index=["İzmir", "Bursa", "İstanbul","Ankara","Tokat"])
print(area)
info_of_cities=pd.DataFrame({"Population": cities_population, "Area": area})
info_of_cities

İzmir        4425789
Bursa        3147818
İstanbul    15840900
Ankara       5747325
Tokat         602567
dtype: int64
İzmir       11891
Bursa       10813
İstanbul     5461
Ankara      25632
Tokat       10042
dtype: int64

          Population   Area
İzmir        4425789  11891
Bursa        3147818  10813
İstanbul    15840900   5461
Ankara       5747325  25632
Tokat         602567  10042

In [ ]:
inda=pd.Index([1,2,3,4]) #index fonksiyon örnekleri
indb=pd.Index([1,2,3,7,6])
a=inda & indb #kesişim
b=inda ^ indb #farklarını
c=inda| indb #birleştirme
print(a)
print(b)
print(c)

In [ ]:
maskOfPopulation= (cities_population<1000000) #maskeleme ile görüntüleme 
print(cities_population[maskOfPopulation])
maskOfArea=(area>5000)
print(area[maskOfArea])

Tokat    602567
dtype: int64
İzmir       11891
Bursa       10813
İstanbul     5461
Ankara      25632
Tokat       10042
dtype: int64

In [ ]:
info_of_cities["density"]=info_of_cities["Population"]/info_of_cities["Area"]
a=info_of_cities.T #yoğunluk adında kolon ekleme
a

,İzmir,Bursa,İstanbul,Ankara,Tokat
Population,4.425789e+06,3.147818e+06,1.584090e+07,5.747325e+06,602567.00000
Area,1.189100e+04,1.081300e+04,5.461000e+03,2.563200e+04,10042.00000
density,3.721965e+02,2.911142e+02,2.900732e+03,2.242246e+02,60.00468

In [ ]:
df=info_of_cities.loc[(info_of_cities.density > 100), ["Population","density"]] #nüfus ve yoğunluğu gösterme
df

          Population      density
İzmir        4425789   372.196535
Bursa        3147818   291.114214
İstanbul    15840900  2900.732467
Ankara       5747325   224.224602

In [ ]:
import numpy as np #dataframe'deki boşlukları doldurma 
rng=np.random.RandomState(42)
a=pd.DataFrame(rng.randint(0,49,(6,8)))
print(a)
a.iloc[3,3]=np.nan
a.iloc[0,2]=np.nan
print(a)
a.fillna(method="ffill",axis=1)

    0   1   2   3   4   5   6   7
0  38  28  14  42   7  20  38  18
1  22  10  10  23  35  39  23   2
2  21   1  23  43  29  37   1  20
3  32  11  21  43  24  48  26  41
4  27  15  14  46  43   2  36   6
5  20   8  38  17   3  24  13   8
    0   1     2     3   4   5   6   7
0  38  28   NaN  42.0   7  20  38  18
1  22  10  10.0  23.0  35  39  23   2
2  21   1  23.0  43.0  29  37   1  20
3  32  11  21.0   NaN  24  48  26  41
4  27  15  14.0  46.0  43   2  36   6
5  20   8  38.0  17.0   3  24  13   8

      0     1     2     3     4     5     6     7
0  38.0  28.0  28.0  42.0   7.0  20.0  38.0  18.0
1  22.0  10.0  10.0  23.0  35.0  39.0  23.0   2.0
2  21.0   1.0  23.0  43.0  29.0  37.0   1.0  20.0
3  32.0  11.0  21.0  21.0  24.0  48.0  26.0  41.0
4  27.0  15.0  14.0  46.0  43.0   2.0  36.0   6.0
5  20.0   8.0  38.0  17.0   3.0  24.0  13.0   8.0

In [ ]:
cc=[("izmir",2020), ("izmir",2019), ("ankara",2020),("ankara",2019),("istanbul",2020),("istanbul",2019)]
cities_population=pd.Series([4394694,4367259,5663322,5639076,15462452,15519267], index=(cc)) #multi indexleme yöntemi ile dataframe oluşturma    
#burada mulkti indexi sadece population serisi üzerinden yaptık sornasında df oluşturulurken pandasın verdiği bir özellik olarak oto diğerine de uyguladı
index=pd.MultiIndex.from_tuples(cc)
pop=cities_population.reindex(index)
area=pd.Series([11891,11891,5461,5461,25632,25632], index=(cc))
df=pd.DataFrame({"population":pop,"Area":area})
df1=df["density"]=df["population"]/df["Area"]
df.unstack()

         population             Area             density
               2019      2020   2019   2020         2019         2020
ankara      5639076   5663322   5461   5461  1032.608680  1037.048526
istanbul   15519267  15462452  25632  25632   605.464537   603.247971
izmir       4367259   4394694  11891  11891   367.274325   369.581532

In [ ]:
import pandas as pd #merge task
df1 = pd.DataFrame({"city": ["izmir", "ankara", "istanbul"],
                    "population": [4394694,5663322,15462452]})
df2 = pd.DataFrame({"city": ["izmir", "ankara", "istanbul"],
                    'area': [11891,5461,25632]})
pd.merge(df1,df2)

       city  population   area
0     izmir     4394694  11891
1    ankara     5663322   5461
2  istanbul    15462452  25632